/* CSS personalizado boton + */
.btn-hover {
  border-radius: 10px;
  border-color: 1px solid #2a2a2a !important;
  color: rgb(0, 0, 0); 
}
.btn-hover:hover {
    background-color: rgb(35, 105, 210);
    box-shadow: inset;
    color: white; 
}