.image-rotate{
  border-radius: 100px;
  margin-left: 400px;
  width: 1500px; 
  height: 900px; 
  transform: rotate(320deg) !important;
  z-index: -1;
}


.image-home{
  border-radius: 100px;
  width: 1200px; 
  height: 700px; 
}

