.panel{
    background-color: #fff;
    border-radius: 6px;
    border-bottom: 2px solid #417d99;
    width: 100%;
}

    .header-profile{
        border-bottom: 1px solid #417d99;
    }

        h2.title {
            display: inline-block;
            color: #19213d;
            font-size: 1.1em;
            margin-bottom: 0px;
            padding: 12px 16px;
        }


        .inside{
            padding: 16px;
        }

        .edit_avatar a {
            display: block;
            margin: 0px auto;
            position: relative;
            width: 140px;
        }

        .edit_avatar img {
            border-radius: 50%;
            display: block;
            width: 100%;
        }

        .overlay{
            align-items: center;
            background-color: rgba(0, 0, 0, .55);
            border-radius: 50%;
            color: #fff;
            display: none;
            font-size: 2em;
            justify-content: center;
            height: 140px;
            position: absolute;
            width: 100%;
        }

        .overlay:hover{
            display: flex;
        }

